PDF_FOLDER=data/pdf
PDF_FILE=...PDF # Hardcode เขียนชื่อ File Name จากใน PDF_FOLDER

CHUNK_SIZE=1000
CHUNK_OVERLAP=200

EMBEDDING_MODEL=voyage-3-large

MONGO_DB=rag_db
MONGO_COLLECTION=pdf_embeddings
MONGO_URI=mongodb+srv://.../
MONGODB_MODEL_API_KEY=...